@import "tailwindcss";


/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 0px; 
} */


.chat-window{
  /* margin-top: 100px; */
  /* padding-top: 100px; */
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.chat-panel{
  /* margin-top: 500px; */
  overflow-y: scroll;
  display: flex;
  width: inherit;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

